.banner{
    box-sizing: border-box;
    background-image: url(../../Assets/img/20220423_110823.jpg);
    background-size: 100%;
    height:626px;
    background-repeat: no-repeat;
    border-bottom: 10px solid #08415C;
    padding-top: 115px;
    padding-left: 90px;
}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 440px;    
}

.banner .box{
    margin-bottom: 40px;
}

.wrapper .navigation{
    display: flex;
    justify-content: space-around;
}