.section {
    width: 1263px;
    height: 730px;
    background: #0D75D9;
    border-bottom: 10px solid #08415C;
    padding: 50px 100px;
}


.list_1{
    display: flex;
    flex-direction: column;
    background-color: brown;
    list-style: none;
    
}

.list_2{
    background-color: chartreuse;
}

.list_3{
    display: flex;
    flex-wrap: wrap;
    background-color: #0D75D9;
}

.skills .list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}