.section {
    width: auto;
    height: 336ppx;
    background: #0D75D9;
    border-bottom: 10px solid #08415C;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section.-second{
    background-color: #000;

}



