<<<<<<< HEAD
.subtitle {
=======
#sub_título {
>>>>>>> 563486b14ad1301be868410aacdd721ce05d8fd6
    font-family: 'Fira Code', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 2px 3px 3px #000000;
}