<<<<<<< HEAD
.subtitle {
=======
#sub_título {
>>>>>>> 14cf6512b475fe226bef5892a22aa3048c92484f
    font-family: 'Fira Code', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 2px 3px 3px #000000;
}